# Node.js / Svelte
node_modules/
.svelte-kit/
build/
dist/
*.log
package-lock.json
yarn.lock
.pnp.*
.pnp

# SvelteKit
.vercel/
.netlify/
.env
.env.*local

# Static site builds
__sapper__/
static/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtualenv
.venv/
venv/
ENV/
env.bak/
env/

# Jupyter Notebook
.ipynb_checkpoints

# PyCharm
.idea/

# VS Code
.vscode/

# macOS
.DS_Store

# Logs and databases
*.log
*.sql
*.sqlite
*.db

# Linting
*.pylint.d/
.mypy_cache/
.pyre/
.pytype/

# Test coverage
htmlcov/
.tox/
.nox/
coverage.xml
*.cover
*.py,cover
.cache
nosetests.xml
coverage/
*.lcov

# C extensions
*.so

# Svelte specific
.svelte/
*.svelte-kit/

# Env variables
.env
.env.*
